@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  /* text-decoration: inherit; */
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
header{
  .top-h{
    .top-h-d{
      margin: 0 10px;
      padding: 0;
    }
    .top-h-t{
      input{
        width: 300px;
        border-bottom: 3px solid blue;
        outline: none;
        margin-right: 5px;
      }
      .top-h-e{
        a{
          font-size: 20px;
          font-weight: 700;
        }
        
      }
      .top-h-e a:hover{
        text-decoration: underline;
      }
    }
  }

  .main-h{
    color: white;
    margin-top: 10px;
    height: 50px;
    background-color:  #535bf2;
    border-radius: 5px;
    div{
      margin: 10px;
    }
    a{
      color: white;
      font-size: 20px;
    }
    a:hover{
      text-decoration: underline;
    }
  }

}
/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 200px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.card h2 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.card p {
  margin: 5px 0;
  color: #666;
}

.card p:last-child {
  font-weight: bold;
  color: #000;
}
footer{
  text-align: center;
  height: 50px;
  background-color:  #535bf2;
  color: white;
  border-radius: 5px;
  p{
    padding: 10px;
  }
}

.m-s{
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
.menu{
  width: 20%;
  background-color:  #535bf2;
  border-radius: 5px;
  li{
    margin: 5px 5px;
    padding: 5px;
    padding-left:20px;
  }
  a{
    font-size: 18px;
    color: white;
  }
  li:hover{
    
    background-color: white;
    a{
      color: #535bf2;
    }
  }
}
.slider{
  width: 80%;
}
.tieu-de{
  font-size: 26px;
  font-weight: 600;
}
.tieu-de02{
  font-size: 26px;
  font-weight: 600;
  color: #535bf2;
}
.card-img-top{
  max-height: 120px;
  width: 100%;
}
.card-title{
  font-weight: 600;
}
.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.dashboard-table th{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  color: white;
}
.dashboard-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.dashboard-table th {
  background-color: #535bf2;
}

.dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dashboard-table tr:hover {
  background-color: #ddd;
}
.dashboard-table td img{
 max-width: 100px;
  height: auto;
}
.dashboard-table td a{
  font-weight: 600;
  padding-left: 10px;
}
.tb-ad{
  font-size: 30px;
  color: red;
  font-weight: 600;
  margin-top: 20px;
  font-size: 18px;
}